.window {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;

}
.window_in {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: aqua;
    display: flex;
   justify-content: flex-start;
   align-items: center;
  
}

.card {
    width: 90%;
    height: 100px;
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
   

}
.task-info {
    width: 40%;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.task-name {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-delete {
    width: 25px;
    height: 25px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    right: -12px;
    
}

.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    display:none;
    align-items:center;
    justify-content: center;
    .confirm-modal {
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .7);
        padding: 20px 25px;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .add-modal {
        position: relative;
        background-color: white;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .7);
        padding: 30px 25px;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;

        #dates {
            height: 40px;
            width: 120px;
            text-align: center;
            margin-right: 15px;
        }

        #title {
            height: 40px;
            width: 200px;
            margin-right: 15px;
            padding-left: 10px;
            font-size: 18px;
        }

        #submit {
            height: 40px;
        }
    }
    .close-modal {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid red;
        color: red;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        cursor: pointer;
        top: -15px;
        right: -15px;
        background-color: white;
    }
    .modal-buttons {
        width: 300px;
        display: flex;
        justify-content: space-around;
        font-weight: normal;
        margin-top: 50px;
        .item {
            width: 100px;
        }
    }
}
.add-task {
    width: 150px;
    height: 50px;
    display: block;
    margin: 0 auto;
}